.wrapper {
  padding-top: 40px;
  width: 600px;
  height: 200vh;
  background-color: black;
  margin: auto;
}

.contacts {
  width: 500px;
  display: flex;
  justify-content: space-around;
  border-radius: 24px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
  margin: auto;
}

.imgfoto {
  width: 200px;
  height: 140px;
  background: url(./assets/img.png);
  margin-top: 20px;
  border-radius: 10%;
}

.info h1 {
  color: var(--White, #F5F8FF);
  font: 900 24px Ambit;
  margin-bottom: 10px;
}

.info p {
  color: var(--White, #F5F8FF);
  font: 600 12px Poppins;
  margin-bottom: 8px;
}

.work {
  color: var(--White, #F5F8FF);
  font: 900 24px Ambit;
  width: 485px;
  height: 13px;
  margin-left: 60px;
}

.list {
  width: 500px;
  height: 460px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
  margin: auto;
  border-radius: 24px;
}

.wrapper2 {
  width: 450px;
  height: 85px;
  padding-top: 2px;
  margin-top: 25px;
  margin-left: 30px;
}

.work_name {
  color: var(--White, #F5F8FF);
  font: 500 16px Poppins;
}

.company {
  font: 500 10px Poppins;
  color: var(--White, #F5F8FF);
}

.time {
  font: 500 10px Poppins;
  color: var(--White, #F5F8FF);
}

.skills {
  display: flex;
  padding: 24px 24px 32px 24px;
  justify-content: space-around;
  gap: 24px;
  width: 500px;
  height: 120px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
  margin: auto;
  border-radius: 24px;

}

.container {
  width: 218px;
  height: 92px;
}

.container p {
  font: 400 12px Poppins;
  color: var(--White, #F5F8FF);
}

.box {
  display: flex;
  margin: auto;
  align-items: flex-start;
  gap: 16px;
  width: 500px;
  height: 140px;
  background-color: black;
}

.block_1,
.block_2 {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 16px;
  width: 246px;
  height: 140px;
  border-radius: 24px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
margin-top: 20px;
}



.imgfoto {
  width: 35px;
  height: 35px;
  background-image: url(./assets/Icon.svg);
}

.imgfoto {
  width: 32px;
  height: 32px;
  background-image: url(./assets/01-tools.svg);
}